<% include /header %>
            <!-- Carousel
              ================================================== -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                    <img src="<%=image %>" alt="First slide">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>Bem Vindo ao CAR &#928; RENT</h1>
                            <p>Aqui poderá encontrar um carro para alugar de forma simples, rápida e segura.</p>
                        </div>
                    </div>
                </div>
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <!-- /.carousel -->
<% include /footer %>