<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../icons/car.ico">
    <title>St@nd PISEL</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/StandPISEL.css" rel="stylesheet">
    <link href="/css/error.css" rel="stylesheet">
</head>
    <body>
		<div class="jumbotron">
            <div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1><b>404 - Page Not Found</b></h1>
					</div>
					<div class="col-md-5">
						<img src="http://www.beeskneesdance.com/bees_knees/wp-content/uploads/2011/01/homer-simpson-doh.gif"/>
					</div>
				</div>
				<div class="row">
				<div class="col-md-12">
					<div class="error-template">
						<div class="error-details">
							<p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
							<p><b>Or you could just press this neat little button:</b></p>
						</div>
						<div class="error-actions text-center">
							<a href="/Inicio" class="btn btn-primary btn-lg">
								<span class="glyphicon glyphicon-home"></span>
								Take Me Home 
							</a>
						</div>
					</div>
				</div>
			</div>
            </div>
        </div>
	</body>
</html>