<% include /header %>
        <div class="jumbotron">
            <div class="container">
                <h2>Registar</h2>
            </div>
        </div>
	    <div class="container">
            <form id="RegisterForm" class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <label for="inputFirstName3" class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10">
                        <input type="text" name="pessoa[firstname]" id="inputFirstName3" class="col-md-3" placeholder="Nome" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputLastName3" class="col-sm-2 control-label">Apelido</label>
                    <div class="col-sm-10">
                        <input type="text" name="pessoa[lastname]" id="inputLastName3" class="col-md-3" placeholder="Apelido" required>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label for="inputCountry" class="col-sm-2 control-label">Pa&#237s</label>
                    <div class="col-sm-10">
                        <select name="pessoa[country]" class=col-md-3" form="RegisterForm" style="width:25%;">
                            <option value="0">Pa&#237s</option>
                            <option>Portugal</option>
                            <option>Espanha</option>
                            <option>Fran&#231;a</option>
                            <option>It&#225;lia</option>
                        </select>
                    </div>
                </div>-->
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Endere&#231;o de Email</label>
                    <div class="col-sm-10">
                        <input type="email" name="pessoa[email]" class="col-md-3" placeholder="Email" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUserName3" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="pessoa[id]" id="inputUserName3" class="col-md-3" placeholder="UserName" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" name="pessoa[password]" class="col-md-3" id="inputPassword3" placeholder="Password" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <input type="checkbox" name="terms"> I agree with the
                        <a href="#">Terms and Conditions</a>.
                    </label>
                    <div class="col-md-10">
                        <input type="submit" value="Registar" class="btn btn-primary" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">
                        <%=message%>
                    </label>
                </div>
            </form>
        </div>
<% include /footer %>