<% include /header %>
        <div class="jumbotron">
            <div class="container">
                <h3>Sobre</h3>
            </div>
         </div>
         <div class="container">
             <div class="row">
                 <div class="col-xs-6 col-md-3">
                     <a href="http://www.isel.pt/" class="thumbnail" target="_blank">
                         <img src="http://www.dem.isel.pt/mosm/funmec/images/dia%20aberto%20ISEL/iselPreto.gif" alt="...">
                     </a>
                 </div>
             </div>
          <p>Este trabalho foi realizado no ambito da disciplina <i>Programa&#231;&#227;o de Internet</i> no semestre de verão de 2013/2014 na faculdade <b>Instituto Superior de Engenharia de Lisboa</b>.</p>
         <div>
             <p><b>Autores:</b>Paulo Coelho</p>
             <p><b>Número de Aluno:</b>30076</p>
             <p><b>Turma:</b> LI51N</p>
         </div>
         </div>
<% include /footer %>